*{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

main{
    background-color: antiquewhite;
}

.contenido_principal{
    color: white;
}



header{
    background-color: black;
    height: 200px;

}

.titulo_principal{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.titulo_principal{
    color: white;
}

.foooter{
    background-color: black;
    color: white;
    height: 200px;    
}
